{% extends parent_template|default:"blog/base_blog.html" %}

{% block title %}
{{ block.super }} - Blog
{% endblock %}

{% block content %}
      {% for post in post_list %}
        <article>
          <header>
            <h2>
              <a href="{% url 'blog_post_detail' post.pub_date.year post.pub_date.month post.slug %}">
                {{ post.title|title }}</a>
            </h2>
            <p>
              Written on:
              <time datetime="{{ post.pub_date|date:"Y-m-d" }}">
                {{ post.pub_date|date:"l, F j, Y" }}
              </time>
            </p>
          </header>
          <p>{{ post.text|truncatewords:20 }}</p>
          <p>
            <a href="{% url 'blog_post_detail' year=post.pub_date.year month=post.pub_date.month slug=post.slug %}">
              Read more&hellip;</a>
          </p>
        </article>
      {% empty %}
        <p><em>No Blog Posts Available</em></p>
      {% endfor %}
{% endblock %}
