      {% for post in post_list %}
        <article>
          <header>
            <h2>
              <a href="">
                {{ post.title|title }}</a>
            </h2>
            <p>
              Written on:
              <time datetime="{{ post.pub_date|date:"Y-m-d" }}">
                {{ post.pub_date|date:"l, F j, Y" }}
              </time>
            </p>
          </header>
          <p>{{ post.text|truncatewords:20 }}</p>
          <p>
            <a href="">
              Read more&hellip;</a>
          </p>
        </article>
      {% empty %}
        <p><em>No Blog Posts Available</em></p>
      {% endfor %}
