{% extends parent_template|default:"user/base_user.html" %}

{% block title %}
{{ block.super }} - Reset Password
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two eight columns">
      {% if validlink %}
        <p>Enter a new password below.</p>
        <form
            action="{{ request.path }}"
            method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button
              class="button-primary"
              type="submit">
            Save New Password</button>
        </form>
      {% else %}
        <p>This reset link is no longer valid.</p>
        <p>Please request a new reset email
          <a href="{% url 'dj-auth:pw_reset_start' %}">
            here</a>.</p>
      {% endif %}
  </div></div>
{% endblock %}
