{% extends parent_template|default:"user/base_user.html" %}
{% load partial_post_list %}

{% block title %}
{{ block.super }} -
{{ profile.user.get_full_name }}'s Profile
{% endblock %}

{% block content %}
  <div class="row">
    {% if user.pk == profile.user.pk %}
      <div class="offset-by-two five columns">
    {% else %}
      <div class="offset-by-two eight columns">
    {% endif%}

    <h2>About {{ profile.user.get_full_name }}</h2>
    {{ profile.about|default:"No Profile"|linebreaks }}

    {% format_post_list profile.user %}

    </div><!-- columns -->

    {% if user.pk == profile.user.pk %}
      <div class="three columns">
        <ul class="task-list">
          <li><a href="{{ profile.get_update_url }}">
            Edit Your Profile</a></li>
          <li><a href="{% url 'dj-auth:pw_change' %}">
            Change Password</a></li>
          <li><a href="{% url 'dj-auth:disable' %}">
            Disable Account</a></li>
        </ul>
      </div>
    {% endif%}

  </div><!-- row -->
{% endblock %}
