{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - Startups
{% endblock %}

{% block content %}
  <h2>Startup List</h2>
    <div>
      <a href="{% url 'organizer_startup_create' %}">
        Create New Startup</a>
    </div>
  <ul>
    {% for startup in startup_list %}
      <li>
        <a href="{{ startup.get_absolute_url }}">
          {{ startup.name }}</a>
          <ul>
              <li>
                <a href="{{ startup.get_update_url }}">
                  Edit Startup</a></li>
              <li>
                <a href="{{ startup.get_delete_url }}">
                  Delete Startup</a></li>
          </ul>
      </li>
    {% empty %}
      <li><em>No Startups Available</em></li>
    {% endfor %}
  </ul>

  {% if is_paginated %}
    <ul>
      {% if previous_page_url %}
        <li>
          <a href="{{ previous_page_url }}">
            Previous</a>
        </li>
      {% endif %}
      <li>
        Page {{ startup_list.number }}
        of {{ paginator.num_pages }}
      </li>
      {% if next_page_url %}
        <li>
          <a href="{{ next_page_url }}">
            Next</a>
        </li>
      {% endif %}
    </ul>
  {% endif %}

{% endblock %}
