{% extends parent_template|default:"organizer/base_organizer.html" %}
{% load obfuscate_email %}
{% load partial_post_list %}

{% block title %}
{{ block.super }} - {{ startup.name }}
{% endblock %}

{% block content %}
<article>
  <div class="row">
  <div class="offset-by-two eight columns">
  <h2>{{ startup.name }}</h2>
  {% if perms.organizer.change_startup or perms.organizer.delete_startup %}
    <ul class="inline">
      {% if perms.organizer.change_startup %}
        <li>
          <a
              href="{{ startup.get_update_url }}"
              class="button">
            Edit Startup</a></li>
      {% endif %}
      {% if perms.organizer.delete_startup %}
        <li>
          <a
              href="{{ startup.get_delete_url }}"
              class="button">
            Delete Startup</a></li>
      {% endif %}
    </ul>
  {% endif %}
  <dl>
    <dt>Date Founded</dt>
      <dd>{{ startup.founded_date|date:"F jS, Y" }}</dd>
    <dt>Website</dt>
      <dd>{{ startup.website|urlize }}</dd>
    <dt>Contact</dt>
      <dd>{{ startup.contact|obfuscate }}</dd>

    {% with tag_list=startup.tags.all %}
      <dt>Tag{{ tag_list|pluralize }}</dt>
        {% for tag in tag_list %}
          <dd><a href="{{ tag.get_absolute_url }}">
            {{ tag.name|title }}
          </a></dd>
        {% endfor %}
    {% endwith %}

    <dt>Feeds</dt>
      <dd>
        <a href="{{ startup.get_feed_atom_url }}">
          Atom</a></dd>
      <dd>
        <a href="{{ startup.get_feed_rss_url }}">
          RSS</a></dd>

  </dl>

  {{ startup.description|linebreaks }}
  </div></div> <!-- row -->

  {% if startup.newslink_set.all or perms.blog.view_future_post and startup.blog_posts.all or startup.published_posts|length > 0 or perms.organizer.add_newslink %}
    <div class="row">

      {% if startup.newslink_set.all %}
        {% if perms.blog.view_future_post and startup.blog_posts.all or startup.published_posts|length > 0 %}
          <section class="meta offset-by-two one-third column">
        {% else %}
          <section class="meta offset-by-two two-thirds column">
        {% endif %}
            <h3>Recent News</h3>
            {% if perms.organizer.add_newslink %}
              <p>
                <a
                    href="{{ startup.get_newslink_create_url }}"
                    class="button">
                  Add Article</a></p>
            {% endif %}
            <ul>
              {% for newslink in startup.newslink_set.all %}
                <li>
                  <a href="{{ newslink.link }}">
                    {{ newslink.title|title }}</a>
                  {% if perms.organizer.change_newslink or perms.organizer.delete_newslink %}
                    <ul class="inline">
                      {% if perms.organizer.change_newslink %}
                        <li>
                          <a
                              href="{{ newslink.get_update_url }}"
                              class="button">
                            Edit Link</a></li>
                      {% endif %}
                      {% if perms.organizer.delete_newslink %}
                        <li>
                          <a
                              href="{{ newslink.get_delete_url }}"
                              class="button">
                            Delete Link</a></li>
                      {% endif %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </section>
      {% elif perms.organizer.add_newslink %}
        {% if perms.blog.view_future_post and startup.blog_posts.all or startup.published_posts|length > 0 %}
          <section class="meta offset-by-two one-third column">
        {% else %}
          <section class="meta offset-by-two two-thirds column">
        {% endif %}
            <p>
              <a
                  href="{{ startup.get_newslink_create_url }}"
                  class="button">
                Add Article</a></p>
          </section>
      {% endif %}

      {% format_post_list startup opposite=startup.newslink_set.all perm_button=perms.organizer.add_newslink %}

    </div> <!-- row -->
  {% endif %}

</article>
{% endblock %}
