{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - Delete Startup
{% endblock %}

{% block content %}
  <div>
    <div>
      <form
          action="{{ startup.get_delete_url }}"
          method="post">
        {% csrf_token %}
        <p>
          Are you sure you want to delete
          startup {{ startup.name }}?
        </p>
        <a href="{{ startup.get_absolute_url }}">
          Cancel</a>
        <button type="submit">Delete Startup</button>
      </form>
    </div>
  </div>
{% endblock %}
