{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - {{ startup.name }}
{% endblock %}

{% block content %}
<article>
  <div class="row">
  <div class="offset-by-two eight columns">
  <h2>{{ startup.name }}</h2>
    <ul class="inline">
        <li>
          <a
              href="{{ startup.get_update_url }}"
              class="button">
            Edit Startup</a></li>
        <li>
          <a
              href="{{ startup.get_delete_url }}"
              class="button">
            Delete Startup</a></li>
    </ul>
  <dl>
    <dt>Date Founded</dt>
      <dd>{{ startup.founded_date|date:"F jS, Y" }}</dd>
    <dt>Website</dt>
      <dd>{{ startup.website|urlize }}</dd>
    <dt>Contact</dt>
      <dd>{{ startup.contact }}</dd>

      <dt>Tag{{ startup.tags.count|pluralize }}</dt>
        {% for tag in startup.tags.all %}
          <dd><a href="{{ tag.get_absolute_url }}">
            {{ tag.name|title }}
          </a></dd>
        {% endfor %}

  </dl>

  {{ startup.description|linebreaks }}
  </div></div> <!-- row -->

  {% if startup.newslink_set.all or startup.blog_posts.all %}
    <div class="row">

      {% if startup.newslink_set.all %}
        {% if startup.blog_posts.all  %}
          <section class="meta offset-by-two one-third column">
        {% else %}
          <section class="meta offset-by-two two-thirds column">
        {% endif %}
            <h3>Recent News</h3>
              <p>
                <a
                    href="{{ startup.get_newslink_create_url }}"
                    class="button">
                  Add Article</a></p>
            <ul>
              {% for newslink in startup.newslink_set.all %}
                <li>
                  <a href="{{ newslink.link }}">
                    {{ newslink.title|title }}</a>
                    <ul class="inline">
                        <li>
                          <a
                              href="{{ newslink.get_update_url }}"
                              class="button">
                            Edit Link</a></li>
                        <li>
                          <a
                              href="{{ newslink.get_delete_url }}"
                              class="button">
                            Delete Link</a></li>
                    </ul>
                </li>
              {% endfor %}
            </ul>
          </section>
      {% endif %}

      {% if startup.blog_posts.all %}
        {% if startup.newslink_set.all %}
          <section class="meta one-third column">
        {% else %}
          <section class="meta offset-by-two two-thirds column">
        {% endif %}
            <h3>Blog Post{{ startup.blog_posts.all|pluralize }}</h3>
            <ul>
              {% for post in startup.blog_posts.all %}
                <li>
                  <a href="{{ post.get_absolute_url }}">
                    {{ post.title|title }}</a>
                </li>
              {% endfor %}
            </ul>
          </section>
      {% endif %}

    </div> <!-- row -->
  {% endif %}

</article>
{% endblock %}
