  <h2>{{ tag.name }}</h2>
  {% if tag.startup_set.all %}
    <section>
      <h3>Startups</h3>
      <ul>
        {% for startup in tag.startup_set.all %}
          <li><a href="">
            {{ startup.name }}
          </a></li>
        {% endfor %}
      </ul>
    </section>
  {% else %}
    <p>This tag is not related to any startups.</p>
  {% endif %}
      {% if tag.blog_posts.all %}
        <section>
          <h3>Blog Posts</h3>
          <ul>
            {% for post in tag.blog_posts.all %}
              <li><a href="">
                {{ post.title }}
              </a></li>
            {% endfor %}
          </ul>
        </section>
      {% else %}
        <p>This tag is not related to any blog posts.</p>
      {% endif %}
