{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - Create Tag
{% endblock %}

{% block content %}
  <form
      action="{% url 'organizer_tag_create' %}"
      method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
      {{ field.errors}}
      <p>
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <span class="helptext">
            {{ field.help_text }}</span>
        {% endif %}
      </p>
    {% endfor %}
    <button type="submit">
      Create Tag</button>
  </form>
{% endblock %}
