{% extends parent_template|default:"organizer/base_organizer.html" %}
{% load partial_post_list %}

{% block title %}
{{ block.super }} - {{ tag.name|title }}
{% endblock %}

{% block org_content %}
  <h2>{{ tag.name|title }}</h2>
  {% if perms.organizer.change_tag or perms.organizer.delete_tag %}
    <ul class="inline">
      {% if perms.organizer.change_tag %}
        <li>
          <a
              href="{{ tag.get_update_url }}"
              class="button">
            Edit Tag</a></li>
      {% endif %}
      {% if perms.organizer.delete_tag %}
        <li>
          <a
              href="{{ tag.get_delete_url }}"
              class="button">
            Delete Tag</a></li>
      {% endif %}
    </ul>
  {% endif %}
  {% if tag.startup_set.all %}
    <section>
      <h3>Startup{{ tag.startup_set.count|pluralize }}</h3>
      <p>
        Tag is associated with
        {{ tag.startup_set.count }}
        startup{{ tag.startup_set.count|pluralize }}.
      </p>
      <ul>
        {% for startup in tag.startup_set.all %}
          <li><a href="{{ startup.get_absolute_url }}">
            {{ startup.name }}
          </a></li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}

  {% format_post_list tag %}

  {% if not perms.blog.view_future_post or not tag.blog_posts.all %}
    {% if not tag.published_posts|length > 0 %}
      {% if not tag.startup_set.all %}
        <p>This tag is not related to any content.</p>
      {% endif %}
    {% endif %}
  {% endif %}

{% endblock %}
