{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - Create Tag
{% endblock %}

{% block content %}
  <form
      action="{% url 'organizer_tag_create' %}"
      method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.name.errors }}
    <p>
      <label for="id_name">Name:</label>
      {% if form.name.value %}
        <input id="id_name" maxlength="31"
            name="name" type="text"
            value="{{ form.name.value }}" />
      {% else %}
        <input id="id_name" maxlength="31"
            name="name" type="text" />
      {% endif %}
    </p>
    {{ form.slug.errors }}
    <p>
      <label for="id_slug">Slug:</label>
      {% if form.slug.value %}
        <input id="id_slug" maxlength="31"
            name="slug" type="text"
            value="{{ form.slug.value }}" />
      {% else %}
        <input id="id_slug" maxlength="31"
            name="slug" type="text" />
      {% endif %}
      <span class="helptext">
        A label for URL config
      </span>
    </p>
    <button type="submit">
      Create Tag</button>
  </form>
{% endblock %}
