{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - Tag List
{% endblock %}

{% block create_button %}
  {% if perms.organizer.add_tag %}
    <a
        href="{% url 'organizer_tag_create' %}"
        class="button button-primary">
      Create New Tag</a>
  {% endif %}
{% endblock %}

{% block org_content %}
  <h2>Tag List</h2>
  {% if perms.organizer.add_tag %}
    <div class="mobile">
      <a
          href="{% url 'organizer_tag_create' %}"
          class="button button-primary">
        Create New Tag</a>
    </div>
  {% endif %}
  <ul>
    {% for tag in tag_list %}
      <li>
        <a href="{{ tag.get_absolute_url }}">
          {{ tag.name|title }}</a>
        {% if perms.organizer.change_tag or perms.organizer.delete_tag %}
          <ul class="inline">
          {% if perms.organizer.change_tag %}
            <li>
              <a
                  href="{{ tag.get_update_url }}"
                  class="button">
                Edit Tag</a></li>
          {% endif %}
          {% if perms.organizer.delete_tag %}
            <li>
              <a
                  href="{{ tag.get_delete_url }}"
                  class="button">
                Delete Tag</a></li>
          {% endif %}
          </ul>
        {% endif %}
      </li>
    {% empty %}
      <li><em>There are currently no Tags available.</em></li>
    {% endfor %}
  </ul>
{% endblock %}
