  <h2>{{ tag.name|title }}</h2>
  {% if tag.startup_set.all %}
    <section>
      <h3>Startups</h3>
      <p>
        Tag is associated with
        {{ tag.startup_set.all|length }}
        startups.
      </p>
      <ul>
        {% for startup in tag.startup_set.all %}
          <li><a href="">
            {{ startup.name }}
          </a></li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
      {% if tag.blog_posts.all %}
        <section>
          <h3>Blog Posts</h3>
          <ul>
            {% for post in tag.blog_posts.all %}
              <li><a href="">
                {{ post.title|title }}
              </a></li>
            {% endfor %}
          </ul>
        </section>
      {% endif %}
      {% if not tag.startup_set.all and not tag.blog_posts.all %}
        <p>This tag is not related to any content.</p>
      {% endif %}
