<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        Startup Organizer
      {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><script
      src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script><![endif]-->
  </head>

  <body>

    <div><!-- container -->
      <header>
          <h1>Startup Organizer</h1>
      </header>
      <nav>
        <ul>
          <li>
            <a href="">
              Blog</a></li>
          <li>
            <a href="">
              Startups</a></li>
          <li>
            <a href="">
              Tags</a></li>
        </ul>
      </nav>
      <main>
        {% block content %}
          This is default content!
        {% endblock %}
      </main>
    </div><!-- container -->

    <footer>
      <p>
        &copy; 2015
        <a href="https://AndrewsForge.com/">
          Andrew Pinkham</a>
      </p>
      <p>
        Created for
        <a href="https://Django-Unleashed.com/">
          Django Unleashed</a>
      </p>
    </footer>

  </body>

</html>
